.singlePost {
    margin-bottom: 15%;
}

.singlePost img {
    height: 500px;
    width: 800px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.singlePost .single-header {
    margin: 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.single-header-edit {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 1.2em;
    outline: none;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #eee;
}


.singlePost .head,
.singlePost .editor {
    display: flex;
    justify-content: space-between;
}

.singlePost .editor {
    color: rgb(53, 53, 53);
    font-size: 1em;
    margin: 10px 0 5px 0;
}

.singlePost .editor a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.singlePost .editor a:hover {
    text-decoration: underline;
    color: green;
}

.article-edit {
    font-family: 'Lora', serif;
    outline: none;
    border: none;
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

.singlePost .icons {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.3em;
}

.singlePost .icons i {
    margin-right: 10px;
    cursor: pointer;
}

.singlePost .fa-edit {
    color: green;
}

.singlePost .fa-trash {
    color: tomato;
}

.singlePost .article .text {
    line-height: 2;
    font-size: 18px;
    color: rgb(50, 50, 50);
    font-family: 'Varela', sans-serif;
}

.singlePost .article .text::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}

.singlePost .btn {
    width: 20%;
    margin: auto;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .singlePost .btn {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .singlePost .icons i {
        margin-right: 5px;
        font-size: .97em;
    }

    .singlePost .author {
        font-size: .95em;
    }

    .singlePost .date {
        font-size: .85em;
    }
}